@font-face {
  font-family: ddi;
  src: url(./assets/DOKOITSU.TTF);
}

body {
  background-color: white;
}

.container {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.black-box {
  
  
  border-radius: 7px;
  box-sizing: border-box;
  /* why did i do this dsadkjsajkdsajdjkadjksa */
  padding-left: 25rem;
  padding-right: 25rem;
  
  
  border: 2px solid #2a2927;
  background-color: #ee8d58;
  text-align: center;
}
.wts-text {
  /* font-size: 20px; */
  /* text-wrap:balance;1 */
  color: #dfdcd6;
  font-family: ddi;
  text-shadow: #514e46 1.5px 1.5px;
}